/target/**
/project/.bloop
/project/metals.sbt
/project/project/metals.sbt
/project/target/**
/project/project/target/**
/project/project/project/target/**
.vscode
.metals/**
.idea/**
.bsp/**
.bloop/**
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/scala/.DS_Store
src/main/scala/andy42/.DS_Store
src/main/scala/andy42/graph/.DS_Store
